NEXT_PUBLIC_ROASTLY_SUPABASE_URL=changeme
NEXT_PUBLIC_ROASTLY_SUPABASE_PUBLISHABLE_KEY=changeme
NEXT_PUBLIC_ROASTLY_SUPABASE_ANON_KEY=changeme
NEXT_PUBLIC_ROASTLY_SITE_URL=changeme
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=changeme
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=changeme
RESEND_EMAIL_KEY=re_your_api_key_here