NEXT_PUBLIC_ROASTLY_SUPABASE_URL=changeme
NEXT_PUBLIC_ROASTLY_SUPABASE_PUBLISHABLE_KEY=changeme
NEXT_PUBLIC_ROASTLY_SITE_URL=changeme
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=changeme
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=changeme
RESEND_EMAIL_KEY=re_your_api_key_her
DEV_LOGIN="false"
NEXT_PUBLIC_ROASTLY_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_ROASTLY_SUPABASE_PUBLISHABLE_KEY="local_publishable_key"
ROASTLY_SUPABASE_SECRET_KEY="local_secret_key"
NEXT_PUBLIC_ROASTLY_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="mapbox_access_token"
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET="google_cloud_OAuth_client_secret"
AMAZON_LOCATION_SERVICES_KEY="AWS_location_secret"
SUPABASE_DB_PASSWORD="local_db_password"
SUPABASE_DB_URL_PROD="supabase_db_url_prod"
RESEND_EMAIL_KEY="resend_key"
BETA_KEY_JWT_SECRET="jwt_secret"
BETA_KEY_HMAC_SECRET="hmac_secret"
